---
import { getCollection } from 'astro:content';
const todos = await getCollection('todos');
console.log(todos[0]);
export async function getStaticPaths() {
return [{params: {src: "todos"}}];
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Collection: Todos</title>
	</head>
	<body>
		<h1>Todos</h1>
    <ul>
      {todos.map((todo) => (<li>{todo.data.title}</li>))}
	</body>
</html>
